<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Styles", false)
    @RenderSection("Script", false)
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="icon.ico" type="image/x-icon">
    <title>Library</title>
</head>

<header>
    <div>
        <a href="/Books/Index">Books</a>
    </div>
    <div>
        <a href="/Books/AddBook">Add Books</a>
    </div>
</header>

<body>
    @RenderBody()
</body>

<footer>
    <div>
        Здесь у нас будет футер
    </div>
</footer>

</html>
