<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Styles", false)
    @RenderSection("Script", false)
</head>

<body>
    <div>
        <a href="/Books/Index">Books</a>
    </div>
    <div>
        <a href="/Books/AddBook">Add Books</a>
    </div>
    @RenderBody()
</body>
    <div>
        Здесь у нас будет футер
    </div>
</html>
